* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-bottom: 50px;
    padding: 0;
}


.banner-background {
  height: 50%;
  background-color: rgb(57, 57, 232);
  position: relative;
  padding-bottom: 10px;
}

.banner-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.wrapper {
    max-inline-size: 50%;
    margin-inline: auto;
}

.container-margin {
    margin-inline: 100px;
    display: flex;
}

.two-column-layout {
    display: grid;
    gap: 60px;
    margin-block-end: 60px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  color: #29627e;
}

img {
    display: block;
    max-inline-size: 100%;
}