:root {
    /*GLOBAL VARIABLES*/

    /*Colors*/
    --clr-blue-1: #2563EB;
    --clr-blue-2: #1E40AF;
    --clr-black-1:#111827;
    --clr-gray-1: #b2b9c5;
    --clr-gray-2: #9CA3AF;
    --clr-gray-3: #4B5563;
    --clr-white-1:#ffffff;
    --clr-white-2:#f9fafb;

    /*Fonts*/
    /*Font sizes*/
    --fs-xs:0.75rem; /*Super tiny gray text*/
    --fs-sm: 0.875rem; /*Tiny gray text*/
    --fs-l: 1.25rem; /*Banner paragraph text*/ /*h3 text*/
    --fs-xl: 1.5rem; /*h2 text*/
    --fs-xxl: 2.25rem; /*h1 text*/

    /*Font weights*/
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900; /*Bold*/

    /*Other*/
    --gap-1: 1rem;
    --gap-2: 1.25rem;

}

/*Functions*/ 

body {
    font-family: Inter, system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial,
        sans-serif;
}

h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-l);
}

.subtle-text {
    font-size: var(--fs-sm);
}

.very-subtle-text {
    font-size: var(--fs-xs);
}

.gray-text :is(.subtle-text, .very-subtle-text) {
    color:var(--clr-gray-2);
}

/*Utility*/ /*Use these on HTML elements for modular styling*/

.border-radius {
    border-radius: 0.35rem;
}

/*BLOCK ELEMENTS*/
/*Style the first link that is active blue!!!!*/
/*Style Techblog top left with attribute selectors __Done__*/

header {
    display: flex;
    justify-content: space-around;
    padding: var(--gap-1);

    & > a {
        color: var(--clr-black-1);
        font-weight: var(--fw-900);
        font-size: var(--fs-xl);
    }
    
    & nav {
        padding-top: 0.5rem;

        & ul {
            display: flex;
            list-style: none;
            gap: var(--gap-1);
            
            & > li {
                
                &:first-child {
                    color: var(--clr-blue-1);
                }
                
                & a {
                    /* color: var(--clr-gray-3); */
                    color:inherit;
                }
            }
        }
    }

    & button {
        color: var(--clr-white-2);
        background-color: var(--clr-blue-1);
        border: none;
        padding: 0.45rem 0.75rem 0.45rem 1rem;
    }

}

.hero-card {
    text-align: center;
    padding-block: 3rem;
    color: var(--clr-white-2);
    background: linear-gradient(90deg, var(--clr-blue-1), var(--clr-blue-2));

    & h1 {
        font-weight: var(--fw-700);
    }

    & p {
        font-weight: var(--fw-400);
        padding: 0.25rem 0 1.5rem 0;
    }

    & section {


        & form {

            & input {
                padding: 0.35rem 0 0.35rem 1rem; 
                width: 22.5rem;
            }
        }
    }
}

footer {
    
}










/* .flow>*+* {
    margin-block-start: 1.5rem;
} */

/* Hides text but is still readable for screnreader */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}