:root {
    --clr-primary: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 10px;
}

.banner-background {
  height: 50%;
  background-color: rgb(57, 57, 232);
  position: relative;
  padding-bottom: 10px;
}

.banner-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
