:root {
    /*GLOBAL VARIABLES*/

    /*Colors*/
    --clr-blue-1: hsl(221, 83%, 53%);
    --clr-blue-2: hsl(226, 71%, 40%);
    --clr-black-1:hsl(221, 39%, 11%);
    --clr-gray-1: #b2b9c5;
    --clr-gray-2: hsl(218, 11%, 65%);
    --clr-gray-3: #4B5563;
    --clr-white-1:#ffffff;
    --clr-white-2:#f9fafb;
    /*Try making 2/3 primary colors and use lightness/shade to derive colors*/

    /*Attempt at relative colors*/
    --clr-pri:  hsl(221 83% 53%);
    --clr-sec: hsl(221 39% 11%);
    --clr-acc: hsl(218, 11%, 65%);

    /*Derived colors*/
    --clr-pri-hover: hsl(221 83% 53%);
    --color-primary-muted: hsl(221 71% 40%);



    /*another attempt*/
    --primary-h: 221deg;
    --primary-s: 70%;
    --primary-l: 50;
    --primary: hsl(var(--primary-h) var(--primary-s) var(--primary-l));


    /*Fonts*/
    /*Font sizes*/
    --fs-xs:0.75rem; /*Super tiny gray text*/
    --fs-sm: 0.875rem; /*Tiny gray text*/
    --fs-l: 1.25rem; /*Banner paragraph text*/ /*h3 text*/
    --fs-xl: 1.5rem; /*h2 text*/
    --fs-xxl: 2.25rem; /*h1 text*/

    /*Font weights*/
    --fw-400: 400;
    --fw-700: 700; /*Semi bold*/
    --fw-900: 900; /*Bold*/

    /*Other*/
    --gap-1: 1rem;
    --gap-2: 1.25rem;

}


/*Functions*/ 


body {
    font-family: Inter, system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial,
        sans-serif;
}

h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-l);
}

h4 {
    color: var(--clr-white-2);
}



/*Utility*/ /*Use these on HTML elements for modular styling*/


.border-radius {
    border-radius: 0.35rem;
}

.border-round {
    border-radius: 1rem;
    padding-inline: 1rem;
}

.subtle-text {
    font-size: var(--fs-sm);
}

.very-subtle-text {
    font-size: var(--fs-xs);
}

.gray-text :is(.subtle-text, .very-subtle-text) {
    color:var(--clr-gray-2);
}

.card-shadow {
    box-shadow: 0px 4px 6px #00000052;
}

.background-clr-blue {
    background-color: var(--clr-blue-1);
}

.background-clr-green {
    background-color: hsl(from (--clr-blue-1));
}


/*BLOCK ELEMENTS*/
/*Style the first link that is active blue!!!!*/ /*basically done*/
/*Style Techblog top left with attribute selectors __Done__*/

header {
    display: flex;
    justify-content: space-around;
    padding: var(--gap-1);

    /*Styles only direct children*/
    & > a {
        color: var(--clr-black-1);
        font-weight: var(--fw-900);
        font-size: var(--fs-xl);
    }
    
    & nav {
        padding-top: 0.5rem;

        & ul {
            display: flex;
            gap: var(--gap-1);
            
            & > li {
                
                &:first-child {
                    /* color: var(--clr-blue-1); */
                    /* color:hsl(from var(--prim-blue) calc(h - 200) calc(s - 10) calc(l + 30)); */
                    /* color: hsl(from var(--prim-blue) h - 200 s - 10 l + 30); */

                    
                }
                
                & a {
                    /* color: var(--clr-gray-3); */
                    color:inherit;
                }
            }
        }
    }

    & button {
        color: var(--clr-white-2);
        background-color: var(--clr-blue-1);
        border: none;
        padding: 0.45rem 0.75rem 0.45rem 1rem;
    }

}

.hero-card {
    text-align: center;
    padding-block: 3rem;
    color: var(--clr-white-2);
    background: linear-gradient(90deg, var(--clr-blue-1), var(--clr-blue-2));

    & h1 {
        font-weight: var(--fw-700);
    }

    & p {
        font-weight: var(--fw-400);
        padding: 0.25rem 0 1.5rem 0;
    }

    & section {


        & form {

            & input {
                padding: 0.35rem 0 0.35rem 1rem; 
                width: 22.5rem;
            }
        }
    }
}

main {
    & header {
        display: block;
    }

    & .article-card {
        margin: 3rem;
        & article {

            & img {
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
            & .topic-tag {
                display: flex;
                gap: 1rem;
                padding-left: 1rem;
                margin-block: 0.75rem;
                
                & p {
                    background-color: #93bef57b;
                    color: var(--clr-blue-2);
                }
            }

            & section {
                padding-inline: 1rem;

                & footer {
                    display: flex;
                    justify-content: space-between;
                    background-color: yellow;
                    
                    & .rand {
                        display: flex;
                        background-color: darkviolet;

                        & img {
                            width: 2.5rem;
                            border-radius: 50%;
                        }
                        
                        & .author-info {

                        }
                    }

                    & > p {
                        background-color: aliceblue;
                        padding-top: 0.5rem;
                    }
                }
            }
        }
    }
}

.container-footer {
    background-color: #0f1724;
    color: var(--clr-gray-1);
    display: flex;
    flex-wrap: wrap;

    
    & section {

        & h4 {}

        & p {}

        & ul {
            padding-left: 0;
        }
    }
    
    & div {
        
        & >:last-child {
        border-top: 1px solid var(--clr-gray-2);
        }
    }
}

/* main {
    margin-inline: auto;
    max-width: 70rem;
    & div {

        & header {
            & h2 {

            }

            & p {

            }
        }

        & article {
            background-color: var(--clr-white-2);

            & img {

            }
            & section {
                
            }
        }
    }
} */







/* .flow>*+* {
    margin-block-start: 1.5rem;
} */

/* Hides text but is still readable for screnreader */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}